<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- ===== BOX ICONS ===== -->
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" type="text/css" href="static/css/menu_styles.css" />

    <title>Menu</title>
  </head>
  <body id="body-pd">
    <header class="header" id="header">
      <h1>Revenue and Classroom Requirement Analysis System</h1>
      <div class="header__toggle">
        <i class="bx bx-menu" id="header-toggle"></i>
      </div>
    </header>

    <!-- ===== NAVBAR ===== -->
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div>
          <a href="http://www.iub.edu.bd/" target="blank" class="nav__logo">
            <i class="bx bx-data nav__logo-icon"></i>
            <span class="nav__logo-name">RCRAS</span>
          </a>

          <div class="nav__list">
            <a href="login" class="nav__link active">
              <i class="bx bx-grid-alt nav__icon"></i>
              <span class="nav__name">Dashboard</span>
            </a>

            <a href="#" class="nav__link">
              <i class="bx bx-dollar-circle nav__icon"></i>
              <span class="nav__name">Revenue of Each Schools</span>
            </a>

            <a href="view_enrolment_course_school" class="nav__link">
              <i class="bx bx-message-square-detail nav__icon"></i>
              <span class="nav__name">Enrollment Wise Course Distribution</span>
            </a>

            <a href="EnrollmentBreakdownOfSchoolView" class="nav__link">
              <i class="bx bx-bar-chart-alt nav__icon"></i>
              <span class="nav__name">Enrollment Breakdown of Schools</span>
            </a>

            <a href="#" class="nav__link">
              <i class="bx bx-bookmark nav__icon"></i>
              <span class="nav__name">Resources Usages</span>
            </a>

            <a
              href="AvailabilityAndCourseOfferingComparisonView"
              class="nav__link"
            >
              <i class="bx bx-line-chart-down nav__icon"></i>
              <span class="nav__name">Class Size VS Section Offered</span>
            </a>

            <a href="#" class="nav__link">
              <i class="bx bx-bar-chart-alt-2 nav__icon"></i>
              <span class="nav__name">Classroom Requirement</span>
            </a>
          </div>
        </div>

        <a href="#" class="nav__link">
          <i class="bx bx-log-out nav__icon"></i>
          <span class="nav__name">Log Out</span>
        </a>
      </nav>
    </div>

    <!--=============== FOOTER ===============-->
    <div class="footer">
      <div class="footer__content container">
        <p class="footer__copy">
          Copyright &#169; 2022 Independent University, Bangladesh. All right
          reserved
        </p>
      </div>
    </div>

    <!--===== MAIN JS =====-->
    <script src="static/js/main.js"></script>
  </body>
</html>
